body{
margin: 0px;    
}

header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    color: white;
}

#perfil{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
header p{
    font-size: 25px;
    text-transform: uppercase;
    padding-right: 10px;
    font-weight: bold;
}

.pesquisa{
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 80px;
}

.pesquisa input{
    width: 500px;
    border-radius: 50px;
    font-size: 30px;
    padding-left: 30px;
}